<form action="/search" method="POST">
  <label for="searchTerm">Search</label>
  <input id="searchTerm" type="text" name="searchTerm">
  
  <button type="submit">
    Search
  </button>
  <% if (viewStatus === 'show-results') { %>
  <ul>
    <% jokes.forEach(joke => { %>
        <li><%= joke.value%></li>
    <% }) %>
  </ul>
  <% } %>
</form>